<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <% related_products.each_with_index do |product, i| %>
    <%= link_to potepan_product_path(product.id) do %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="productBox">
          <div class="productImage clearfix" id="related_product_image_<%= i %>">
            <%= image_tag(product.images.first.attachment(:large), :alt => "products-img") %>
          </div>
          <div class="productCaption clearfix">
            <h5 id="related_product_name_<%= i %>"><%= product.name %></h5>
            <h3 id="related_product_price_<%= i %>"><%= product.display_price %></h3>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
