<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">商品カテゴリー</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% taxonomies.each_with_index do |taxonomy, i| %>
            <li id="side_nav_root_category_<%= i %>">
              <%= link_to "javascript:;", 'data-toggle': "collapse", 'data-target': "#category-#{taxonomy.id}" do %>
                <%= taxonomy.name %>
                <i class="fa fa-plus"></i>
              <% end %>
              <ul id="category-<%= taxonomy.id %>" class="collapse collapseItem">
                <% taxonomy.taxons.leaves.each_with_index do |category, j| %>
                  <li id="side_nav_leaf_category_<%= j %>_root_<%= i %>">
                    <%= link_to potepan_category_path(category.id) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                      <%= category.name %>
                      <span>(<%= category.all_products.count %>)</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">色から探す</div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li><a href="#">ブラック<span>(15)</span></a></li>
        <li><a href="#">ホワイト<span>(10)</span></a></li>
        <li><a href="#">レッド<span>(7)</span></a></li>
        <li><a href="#">ブルー<span>(12)</span></a></li>
        <li><a href="#">オレンジ<span>(12)</span></a></li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">サイズから探す</div>
    <div class="panel-body">
      <ul class="list-unstyled clearfix">
        <li><a href="#">S<span>(15)</span></a></li>
        <li><a href="#">M<span>(10)</span></a></li>
        <li><a href="#">L<span>(7)</span></a></li>
        <li><a href="#">XL<span>(12)</span></a></li>
      </ul>
    </div>
  </div>
</div>
