<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:html_title)) %></title>
    <%= csrf_meta_tags %>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PLUGINS CSS STYLE -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
  </head>
  <body>
    <header>
      <%= render "potepan/shared/header" %>
    </header>
    <%= yield %>
    <footer>
      <%= render "potepan/shared/footer" %>
    </footer>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
